

<!DOCTYPE html>
<html lang ="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <title>Blog de Seba y Lucho</title>  
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
	{% block estilo %}

    {% endblock%}
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap" rel="stylesheet">
	
</head>
<body>
    {% load crispy_forms_tags %}
	<header>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class= "navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
						<span class="sr-only">Desplegar /Ocultar Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<a href="{% url 'home' %}"> <img class="img-fluid navbar-brand" src="{% static 'app/img\logo.png' %}">
				</a>
			</div>
			<!-- Inicia Menu -->
			<div class="collapse navbar-collapse" id="navegacion-fm">
				<ul class="nav navbar-nav">
				<li><a href="{% url 'home' %}">Inicio</a></li>
				<li class="dropdown">
					<a href="#" class="dropw-toggle" data-toggle="dropdown" role="button">
						Hardware <span class="caret"></span>
					</a>	
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">PC</a></li>
						<li class="divider"></li>
						<li><a href="#">Notebook</a></li>
						<li><a href="#">Accesorios</a></li>
						<li><a href="#">Su cariño</a></li>
					</ul>
				</li>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Ubicación</a></li>
				<li><a href="#">Nosotros</a></li>
				
				
				</ul>

				<ul class="nav navbar-nav navbar-right ">
					{% if user.is_authenticated %}
						<li>
							<a href="{% url 'logout' %}">Cerrar sesión</a>
						</li>	
						<li>
							<a href="#">@{{ user.username }}</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'login' %}">Iniciar sesión</a>
						</li>
						<li>	
							<a href="{% url 'registro' %}">Registrate</a>
						</li>
						{% endif %}
					</ul>

					<form action="" class="navbar-form navbar-right" role="search" >
						<div class="form-group">
							<input type="text" class="form-control" placeholder="buscar">
						</div>
						<buttonn type="sumbit" class="btn btn-primary">
							<span class="glyphicon glyphicon-search"></span>
						</buttonn>
						 


					</form>
				
					
					

				</div>
			</div>	
		</nav>
	</header>
	<section class="jumbotron">

		<div class="container">
           
			<h1> Hazlo bien a la PRIMERA</h1>
            <p> Ahorrate malos ratos con nosotros!</p>
            
		</div>

    </section>

    

                <center>
                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <hr>

                        <form action="" method="post">
                            {% csrf_token %}
                            {{form }}

                            <button type="submit">Iniciar Sesion</button>
                        </form>
                    

                    </div>
                </div>
			</center>
		




			<script src="{% static 'app/js/jquery.js' %}"></script>
			<script src="{% static 'app/js/jquery-3.5.1.min.js' %}"></script> 	
			<script src="{% static 'app/js/bootstrap.min.js' %}"></script> 
            
